# Use container-based distribution
sudo: false
language: c++
addons:
  apt:
    sources: &default_sources
      - ubuntu-toolchain-r-test
      - boost-latest
    packages: &default_packages
      - libboost-program-options1.55-dev
      - libboost-iostreams1.55-dev
      - libboost-system1.55-dev
      - libboost-filesystem1.55-dev
matrix:
  include:
    - env: COMPILER_NAME=g++ _CXX=g++-6
      os: linux
      language: cpp
      addons:
        apt:
          sources:
            - *default_sources
          packages:
            - *default_packages
            - g++-6
script:
  - if [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      CMAKE_URL="http://www.cmake.org/files/v3.7/cmake-3.7.0-Linux-x86_64.tar.gz";
      mkdir cmake-bin && wget --quiet --no-check-certificate -O - ${CMAKE_URL} | tar --strip-components=1 -xz -C cmake-bin;
      export PATH=${PWD}/cmake-bin/bin:${PATH};
    fi
  - git submodule update --recursive --init
  - mkdir -p build/debug
  - cd build/debug
  - cmake ../.. -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_COMPILER=$_CXX -DPLASP_BUILD_TESTS=ON -DTOKENIZE_BUILD_TESTS=ON
  - make -j3 plasp-app && make -j3 run-tokenize-tests && make -j3 run-tests
